<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#">My App</a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  
      <span class="navbar-toggler-icon"></span>
  
    </button>
  
  
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item active">
  
          <a class="nav-link"
  
          [routerLink]="['']"
  
           [routerLinkActive]='["active"]'>
  
           Home <span class="sr-only">(current)</span></a>
  
        </li>
  
  
  
        <li class="nav-item">
  
          <a class="nav-link"
  
          [routerLink]="['animals']"
  
          routerLinkActive="active">Animals</a>
  
        </li>
        
        <li class="nav-item">

          <a class="nav-link"
  
          [routerLink]="['products']"
  
          routerLinkActive="active">Products</a>
  
        </li>
  
  
  
        <li class="nav-item">
  
          <a class="nav-link"
  
          [routerLink]="['AboutUs']"
  
          routerLinkActive="active">AboutUs</a>
  
        </li>
  
  </ul>
  
  </div>
  
  </nav> -->

   <!-- <h1>Hello World</h1> -->
<!--
<div class="container">
<div>
  <pent-houseCompo></pent-houseCompo>
</div>
<div> -->

  <!---
</div>
</div>
<app-flag-list></app-flag-list> -->
<!-- <app-animal-list></app-animal-list> -->
<!-- <app-star></app-star> -->

<!-- <app-product></app-product>  -->

<!-- <app-event> </app-event>-->

  
  <!-- <app-book></app-book> -->
  <!-- <app-employee-array></app-employee-array> -->
  <!-- <app-toolbar></app-toolbar> -->
   <router-outlet></router-outlet> 
   <!-- <flat-list></flat-list> -->
 <!-- <app-event></app-event> -->
 <!-- <app-form></app-form>
   -->
</body>
</html>