<p>manager-home works!</p>
<mat-toolbar>Menu</mat-toolbar>



<mat-sidenav-container class="vh-100">

    <mat-toolbar>Menu1</mat-toolbar>

  <mat-sidenav #sidenav mode="side" opened >

    <mat-nav-list>

        <a mat-list-item>Users Management</a>

        <a mat-list-item>Products Management</a>

        <a mat-list-item>Vendor Management</a>

        <a mat-list-item>Sales</a>

        <!-- <a mat-list-item>Logout</a> -->



    </mat-nav-list>

               

  </mat-sidenav>



  <mat-sidenav-content>

    <mat-toolbar>

    <!-- <p><mat-checkbox >Fixed</mat-checkbox></p> -->

   

    <!-- <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p> -->

    <p>Hello</p>

    </mat-toolbar>

  </mat-sidenav-content>



</mat-sidenav-container>

