<!-- <p>Welcome Component Here</p>
<button (click)="thisFun()">Press to Call log</button>
<div class="card"> -->

    <h1>welcome to the home page </h1>
   <!-- {{welcomeMsg | transformData:' '}}-->
    
  <!--  <h2>{{welcomeMsg}}</h2> -->
   <!-- {{welcomeMsg |slice:-1:-5 | repeat:5}} -->
    
  <!--  <input type="text" [(ngModel)]="num" /> -->
<!-- </div> -->
<!-- 
<h1 id="msg">{{data}}</h1>
<h1 id="msg2">{{name}}</h1>
<h1>using ng-template with template reference variables</h1> -->
<!-- <ng-container [ngSwitch]='num'> -->
<!-- <ng-container *ngSwitchCase="1"> -->
